body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  border-bottom: 2px solid orangered;
  background-color: lightyellow;
  padding: 0 15px;
}

nav img {
  height: 50px;
  width: 50px;
}

#btn {
  margin: 20px;
  padding: 10px;
  color: black;
  font-weight: 700;
  background-color: yellow;
  border: 1px solid black;
  font-size: medium;
}

#btn:hover {
  color: white;
  background-color: coral;
}
